[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
"psycopg2-binary" = "*"
gunicorn = "*"
python-decouple = "*"
dj-database-url = "*"
django-heroku = "*"
whitenoise = "*"
django-rest-auth = {version = "*", extras = ["with_social"]}

[dev-packages]
"pep8" = "*"
rope = "*"

[requires]
python_version = "3.6"
